*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins';
}
 
#main{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 10px;
}

.bg-video{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.bg-video video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: left center;
    position: fixed;
    bottom: 0px;
    z-index: -1;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 10px;
}

.menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .menu li,  */
.instructions,
.main-play-btn{
    position: relative;
}
/* .menu li a, */
.instructions,
.main-play-btn{
    display: block;
    text-decoration: none;
    margin: 0px 20px;
    color: #ffffff;
    background: linear-gradient(97deg, rgb(50, 59, 150)0%, rgb(22, 11, 107)100%);
    width: 210px;
    /* padding: 7px 13px 7px 13; */
    padding: 12px 0px 7px 3%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 14px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.13);
    box-shadow: rgb(16, 53, 101) -0px 1px,
    rgb(13, 42, 90) -0px 2px, rgb(13, 42, 90) -0px 3px,
    rgb(13, 42, 90) -0px 4px, rgb(13, 42, 90) -0px 5px,
    rgb(13, 42, 90) -0px 6px, rgb(13, 42, 90) -0px 7px,
    rgb(13, 42, 90) -0px 8px, rgb(13, 42, 90) -0px 9px,
    rgb(13, 42, 90) -0px 10px, rgb(13, 42, 90) -0px 11px;
    transform: translate3d(8px,-8px,0);
}

/* .menu li a:hover, */
.instructions:hover, 
.main-play-btn:hover {
    background: linear-gradient(97deg, rgb(254, 171, 37) 0%, rgba(255, 156, 1, 1) 100%);
    box-shadow: #e38400 -0px 1px, #e38400 -0px 2px, 
    #e38400 -0px 3px, #e38400 -0px 4px ,
    #e38400 -0px 5px, #e38400 -0px 6px ,
    #e38400 -0px 7px, #e38400 -0px 8px ,
    #e38400 -0px 9px, #e38400 -0px 10px ,
    #e38400 -0px 11px;
}

.main-play-btn{
    padding: 12px 0px 7px 80px;
    /* margin: 0px auto;
    width: 320px;
    height: 60px;
    font-size: 2rem; */
}
.main-play-btn::before{
    padding: 12px 0px 7px 120px;
    left: 5px;
    top: 0px;
}




*, *::before, *::after {
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
  }
  
  :root {
    --primary-light-hsl: 200, 100%, 91%;
    --primary-hsl: 200, 100%, 50%;
    --primary-dark-hsl: 200, 100%, 6%;
    --success-hsl: 100, 60%, 50%;
    --error-hsl: 0, 60%, 50%;
  }
  
  
  .full-screen-container {
    background-image: url("background-image.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
     /* --color: hsl(var(--primary-dark-hsl), .7);
    background-color: var(--color); */
    /* box-shadow: 0 0 15px 0 var(--color); */
    padding: 40px 40%;
    width: 100%;
    /* max-width: 1200px; */
    align-items: center;
    justify-content: center;
  }
  
  .login-title {
    width: 100%;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  
  .input-group label {
    color: white;
    font-weight: lighter;
  }
  
  .input-group input ,
  .input-group select,
  .input-group select .option {
    font-size: 0.9rem;
    padding: .5em;
    background-color: hsl(var(--primary-light-hsl), .3);
    border: none;
    outline: none;
    border-radius: .25em;
    /* color: white; */
    font-weight: lighter;
    width: 100%;
  }
  
  .input-group.error input {
    box-shadow: 0 0 0 1px hsl(var(--error-hsl));
  }
  
  .input-group input:focus {
    box-shadow: 0 0 0 1px hsl(var(--primary-hsl));
  }
  
  #email,
  #is-new{
    width: 100%;
  }



  .fly-in-text {
	list-style: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
	display: inline-block;
	margin-right:50px;
	font-family: Open Sans, Arial;
	font-weight: 300;
	font-size: 4em;
	opacity: 1;
	transition: all 2.5s ease;
}

@media screen and (max-width: 1275px) {
    .fly-in-text li {
		margin-right:30px;
		font-weight: 300;
		font-size: 3em;
	}
}

@media screen and (max-width: 900px) {
    .fly-in-text li {	
    	display: block;
		margin-right:20px;
		font-weight: 300;
		font-size: 3em;
	}
}

@media screen and (max-width: 768px) {
    .fly-in-text li {	
    	display: block;
		margin-right:20px;
		font-weight: 300;
		font-size: 3em;
		text-align: center;
        margin: 0 auto;
    }
}

.fly-in-text li:last-child {
	margin-right: 0;
}

.fly-in-text.hidden li {
	opacity: 0;
} 

.fly-in-text.hidden li:nth-child(1) {
	transform: translateX(-200px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(2) {
	transform: translateX(20px) translateY(100px);
}
.fly-in-text.hidden li:nth-child(3) {
	transform: translateX(-150px) translateY(-80px);
}
.fly-in-text.hidden li:nth-child(4) {
	transform: translateX(10px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(5) {
	transform: translateX(-300px) translateY(200px);
}
.fly-in-text.hidden li:nth-child(6) {
	transform: translateX(80px) translateY(-20px);
}
.fly-in-text.hidden li:nth-child(4) {
	transform: translateX(30px) translateY(200px);
}